
  h1 {
    font-family: "helvectia";
    color: green;
    background-color: white;
  }

  h2, h3, h4, h5 {
    font-family: "helvectia";
    color: white;
    background-color: black;
  }

rgba (266, 99, 000,.5)
