
@font-face{
  font-family:"rust";
  src: url('fonts/rust.woff') format('woff');
}

h1 {
  text-transform: uppercase;
  font-family: "rust";
  color: rgb(255,255,255);
  font-size:350%;
}

.credits{
  font-weight: lighter;
}

@font-face{
  font-family:"typewriter_underwood";
  src: url('fonts/MyUnderwood.ttf') format('truetype');
}

h2, h3, h4, h5, h6, h7 {
  font-family: "typewriter_underwood";
  color: white;
  font-size:100%;

  }

  .credits{
    font-style: italic;
}

p {
  font-family:'typewriter_underwood';
  color: white;
  font-size:100%
}

p1, p2, p3, p4, p5 {
  font-family:'typewriter_underwood';
  color: white;
  font-size:100%
}

p6 {
  font-family:'typewriter_underwood';
  color:white;
  font-size:12px;
}

nav {
  font-family:'typewriter_underwood';
  color: white;
  font-size:100%
}

form{
  font-family: "typewriter_underwood";
  color: white;
  font-size:100%;
}
